
    <main class="dhcp ">
        <nav class="blue z-depth-3 " style="margin-bottom:30px">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/servico" class="breadcrumb" style="margin-left:5%">Serviços</a>
                    <a href="#!" class="breadcrumb">DHCP</a>
                </div>
            </div>
        </nav>
        
<!--        Trocar angular-->

        <div >
            <iframe src="/app/views/status/dhcp.txt" frameborder="0" width="90%" height="400px" style="margin-left:5%"></iframe>
        </div>
<!--        -->
        
<div class="center" style=" margin-top:10%">
        <a ng-href="/dhcp/conf" class="waves-effect waves-light btn blue"><i class="material-icons left">build</i>CONFIGURAR</a>
        
</div>




    </main>

