
<main class="home">
     
	<img src="app/views/images/LogoInicio.png" alt="" class="LogoInicio responsive-img">
	
	<h1 class=""></h1>

	<div class="row center">
             <div class="col s12 m12 l12">

                 <div class="col s6 m6 l4 pull-l3">
                     <a href="/servico"> <div class="circulo  waves-effect waves-light blue z-depth-3 "><i class=" medium material-icons icon   ">dashboard</i></div></a>
                 </div>

                 <div class="col s6 m6 l4 push-l5">
                     <a href="/sobre"><div class="circulo  waves-effect waves-light blue z-depth-3  "><i class=" medium material-icons icon">info</i></div></a>
                 </div>
             </div>
    </div>


</main>
     
