<main class="servicos ">
    <div class="valign-wrapper blue z-depth-3 white-text">
        <div>
            <a href="/"><i class="material-icons waves-effect waves-light waves-circle left-align white-text"  >arrow_back</i></a>
        </div>

        <h5 class="titulo center-align">Serviços</h5>

        <div class="right-align ">
            <i class="material-icons waves-effect waves-light
                          waves-circle dropdown-button"
               data-activates="submenu" data-gutter="5"
               data-constrainwidth="false">more_vert
            </i>

            <ul id="submenu" class="dropdown-content">
                <li><a class="black-text" href="home.html">Entrada</a></li>
                <li><a class="black-text" href="sobre.html">Sobre</a></li>
            </ul>
        </div>
    </div>

    <div class="valign-wrapper">
        <div class=" center row">
            <a href="/samba"><div class=" col s6 m4 l4"> <div class="circulo blue darken-1 waves-effect waves-light center-align z-depth-5 fundo-samba"></div> </div></a>
            <a href="/ftp"><div class=" col s6 m4 l4"> <div class="circulo blue darken-1 waves-effect waves-light center-align z-depth-5 fundo-ftp"></div> </div></a>
            <a href="/ssh"><div class=" col s6 m4 l4"> <div class="circulo blue darken-1 waves-effect waves-light center-align z-depth-5 fundo-ssh"></div> </div></a>
            <a href="/dhcp"><div class=" col s6 m4 l4"> <div class="circulo blue darken-1 waves-effect waves-light center-align z-depth-5 fundo-dhcp"></div> </div></a>
            <a href="/tool"><div class=" col s6 m4 l4"> <div class="circulo blue darken-1 waves-effect waves-light center-align z-depth-5 fundo-tool"></div></div></a>
            <a href="/gw"><div class=" col s6 m4 l4"> <div class="circulo blue darken-1 waves-effect waves-light center-align z-depth-5 fundo-gw"></div> </div></a>
        </div>
    </div>
</main>
