
<body class="light-blue lighten-4">
    <main class="sobre ">
        <div class="valign-wrapper blue z-depth-3 white-text">
            <div>
                <a href="/"><i class="material-icons waves-effect waves-light waves-circle left-align white-text"  >arrow_back</i></a>
            </div>

            <h5 class="titulo center-align">Sobre</h5>

            <div class="right-align ">
                <i class="material-icons waves-effect waves-light
                          waves-circle dropdown-button" data-activates="submenu" data-gutter="5" data-constrainwidth="false">more_vert
            </i>

                <ul id="submenu" class="dropdown-content">
                    <li><a class="black-text" href="/">Entrada</a></li>
                    <li><a class="black-text" href="/servico">Serviços</a></li>
                </ul>
            </div>
        </div>
		<img src="app/views/images/LogoContoso.png" alt="" class=" responsive-img">
		
		<div class=" row" style="position:relative"> 
		<a href="https://br.linkedin.com/in/frankwendel" target="_blank">
		<p class="col s6 right-align">Frank Wendel<i class="material-icons" style="font-size:15px;">call_missed_outgoing</i></p>
		</a>
		
		<a href="https://www.linkedin.com/in/leonardo-paganelli" target="_blank">
		
		<p  class="col s6 left-align">Leonardo Paganelli<i class="material-icons" style="font-size:15px;">call_missed_outgoing</i></p>
		</a>
		</div>
		
		<div class="center">
			<small >© Copyright 2016, Contoso IT</small>
		</div>
		
    </main>
